[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=x-www-browser %U
Icon=sidux-browser
Name=sidux-browser
GenericName=Generic Web Browser
GenericName[ru]=Веб-браузер
Categories=Application;Network;
