[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=sidux-browser
Name[ru]=sidux-браузер
Exec=x-www-browser %U
Comment=Generic Web Browser relying on x-www-browser
Comment[ru]=Веб-браузер на базе x-www-browser
Icon=sidux-browser
Categories=Application;Network
