Source: sidux-browser
Section: web
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), imagemagick
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/sidux-browser/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/sidux-browser/trunk/

Package: sidux-browser
Architecture: all
Depends: konqueror | iceweasel | epiphany-browser | www-browser
Description: abstraction for generic x-www-browser
 Provides sidux icons and desktop files to use x-www-browser as generic 
 browser in menus.
