Source: sidux-browser
Section: web
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), imagemagick
Standards-Version: 3.7.2

Package: sidux-browser
Architecture: all
Depends: konqueror | iceweasel | epiphany-browser | www-browser, sidux-xdg
Description: abstraction for generic x-www-browser
 Provides sidux icons and desktop files to use x-www-browser as generic 
 browser in menus.
